
@{
    ViewData["Title"] = "Example Layout Index";
    Layout = "ExampleLayout";
}

@section header
{
<p>This codes will add the underline of the header</p>
}

@section footer
    {
    <p>This codes will add the underline of the footer</p>
}

<div> Example Layout Controller > Index Page</div>

